# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.sandbox
dist

# Node dependencies
node_modules
package-lock.json

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

sa.json
notes.txt
sandbox
components/used-components/ShortDatepicker.vue
